In [3]:
!pip install tensorflow

Collecting tensorflow
  Using cached tensorflow-2.11.0-cp37-cp37m-win_amd64.whl (1.9 kB)
Collecting tensorflow-intel==2.11.0; platform_system == "Windows"
  Using cached tensorflow_intel-2.11.0-cp37-cp37m-win_amd64.whl (266.3 MB)

ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_internal\req\req_install.py", line 430, in check_if_exists
    self.satisfied_by = pkg_resources.get_distribution(str(no_marker))
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 481, in get_distribution
    dist = get_provider(dist)
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 357, in get_provider
    return working_set.find(moduleOrReq) or require(str(moduleOrReq))[0]
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 900, in require
    needed = self.resolve(parse_requirements(requirements))
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 791, in resolve
    raise VersionConflict(dist, req).with_context(dependent_req)
pip._vendor.pkg_resources.ContextualVersionConflict: (MarkupSafe 2.0.1 (c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages), Requirement.parse('MarkupSafe>=2.1.1'), {'werkzeug'})

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_internal\cli\base_command.py", line 188, in _main
    status = self.run(options, args)
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_internal\cli\req_command.py", line 185, in wrapper
    return func(self, options, args)
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_internal\commands\install.py", line 333, in run
    reqs, check_supported_wheels=not options.target_dir
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_internal\resolution\legacy\resolver.py", line 179, in resolve
    discovered_reqs.extend(self._resolve_one(requirement_set, req))
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_internal\resolution\legacy\resolver.py", line 362, in _resolve_one
    abstract_dist = self._get_abstract_dist_for(req_to_install)
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_internal\resolution\legacy\resolver.py", line 305, in _get_abstract_dist_for
    skip_reason = self._check_skip_installed(req)
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_internal\resolution\legacy\resolver.py", line 232, in _check_skip_installed
    req_to_install.check_if_exists(self.use_user_site)
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_internal\req\req_install.py", line 435, in check_if_exists
    self.req.name
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 481, in get_distribution
    dist = get_provider(dist)
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 357, in get_provider
    return working_set.find(moduleOrReq) or require(str(moduleOrReq))[0]
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 900, in require
    needed = self.resolve(parse_requirements(requirements))
  File "C:\Users\nico.cosereanu\Anaconda3\envs\pythondata\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 791, in resolve
    raise VersionConflict(dist, req).with_context(dependent_req)
pip._vendor.pkg_resources.ContextualVersionConflict: (MarkupSafe 2.0.1 (c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages), Requirement.parse('MarkupSafe>=2.1.1'), {'werkzeug'})

Requirement already satisfied: astunparse>=1.6.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.6.3)
Requirement already satisfied: h5py>=2.9.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.8.0)
Requirement already satisfied: packaging in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (21.3)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.0)
Requirement already satisfied: numpy>=1.20 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.21.6)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1; platform_machine != "arm64" or platform_system != "Darwin" in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.30.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.3.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.4.0)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (23.1.21)
Requirement already satisfied: six>=1.12.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.15.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.51.3)
Requirement already satisfied: libclang>=13.0.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (15.0.6.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (3.19.6)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (4.1.1)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (0.2.0)
Requirement already satisfied: setuptools in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (47.3.1.post20200622)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (1.14.1)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.2.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\nico.cosereanu\anaconda3\envs\pythondata\lib\site-packages (from tensorflow-intel==2.11.0; platform_system == "Windows"->tensorflow) (2.11.0)

## Preprocessing

In [7]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
#import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(columns=['EIN','NAME'], inplace =True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [34]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
app_type = application_df['APPLICATION_TYPE'].value_counts()

x = [app_type[(app_type < 100)] ]
x = pd.DataFrame(x)
y = x.columns

application_types_to_replace = []
for item in y:
  application_types_to_replace.append(item)

application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [31]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_type = application_df['CLASSIFICATION'].value_counts()
class_type

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [32]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_type[class_type>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [33]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

x = [class_type[(class_type < 1000)] ]
x = pd.DataFrame(x)
y = x.columns

classifications_to_replace = []
for item in y:
  classifications_to_replace.append(item)

classifications_to_replace
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [35]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
new_df = pd.get_dummies(application_df)
new_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [37]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = new_df["IS_SUCCESSFUL"].values
X = new_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [38]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [40]:
import tensorflow as tf

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 6
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 360

 dense_1 (Dense)             (None, 6)                 54

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 421
Trainable params: 421
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
import os 
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs('check_points/', exist_ok=True)
path = 'check_points/weights.{epoch:02d}.hdf5'

cp_callback = ModelCheckpoint(filepath = path, save_weights_only = True, period = 5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [45]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=50, callbacks= [cp_callback])

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.6142 - accuracy: 0.6766
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5690 - accuracy: 0.7225
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5631 - accuracy: 0.7252
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5605 - accuracy: 0.7261
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7269
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7271
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5571 - accuracy: 0.7278
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7275
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7277
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7281
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7286
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7274
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7285
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7277
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7278
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7285
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7299
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7278
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7291
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7280
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7287
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7289
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7296
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5524 - accuracy: 0.7301
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7305
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7308
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7299
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7303
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7304
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7300
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7305
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7308
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7308
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7305
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7299
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7307
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7307
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7310
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7305
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7297
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7305
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7305
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7306
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7307
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7308
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7309
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5495 - accuracy: 0.7313
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5494 - accuracy: 0.7301
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5496 - accuracy: 0.7308
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5494 - accuracy: 0.7304

In [46]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5445 - accuracy: 0.7342 - 661ms/epoch - 2ms/step
Loss: 0.5445180535316467, Accuracy: 0.7342274188995361

In [47]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from keras.models import load_model
nn.save('AlphabetSoupCharity.h5')